#nav li ul li a:hover,
#nav li ul li:hover>a,
.cp-practice-slider .cp-box:hover,
.cp-practice .owl-controls .owl-page,
.owl-controls .owl-buttons .owl-prev:hover,
.cp-practice .owl-controls .owl-page,
.owl-controls .owl-buttons .owl-next:hover,
.cp-choose-lawyers .cp-text-box .detail-box:hover .icon-box,
.cp-twitter-footer .holder,
.cp-twitter-footer .holder .icon-box,
.cp-twitter-footer .holder .bx-wrapper:before,
.cp-footer-content .cp-box .practice-area ul li a .fa,
.cp-footer-content .cp-box .practice-area ul li:hover a,
.cp-footer-content .cp-box .footer-social li a:hover,
.cp_side-navigation .dropdown-menu>li:hover a,
#cp_side-menu>a:hover,
.cp-attorneys-style-2 .frame .caption:before,
.cp-attorneys-style-3:hover .cp-text-box,
.cp-gallery .cp-box .frame .caption:before,
.cp-pagination .pagination>li>a:hover,
.cp-pagination .pagination>li>span:hover,
.cp-pagination .pagination>li>a:focus,
.cp-pagination .pagination>li>span:focus,
.cp-pagination .pagination>li.active>a,
.cp-practice-area .cp-box .frame .caption:before,
.testimonials-style-1 .owl-prev:hover,
.testimonials-style-1 .owl-next:hover,
.testimonials-style-2 .cp-box .frame,
.testimonials-style-2 .owl-theme .owl-dots .owl-dot.active span,
.testimonials-style-2 .owl-theme .owl-dots .owl-dot:hover span,
.testimonials-style-3 .owl-prev:hover,
.testimonials-style-3 .owl-next:hover,
.cp-blog .cp-post-box .frame strong.sticky,
#blog-slider .owl-prev:hover,
#blog-slider .owl-next:hover,
.cp-blog .cp-post-box .cp-text-box a.link,
.cp-practice-area ul li a .fa,
.cp-practice-area ul li:hover,
.cp-attorneys-box .owl-prev:hover,
.cp-attorneys-box .owl-next:hover,
.cp-legal-news ul li:hover,
.cp-tags ul li:hover,
.cp-client-box .holder .frame:before,
.cp-share-post-row ul li a:hover,
.cp-award-section .cp-award-box .icon-box .fa,
.cp-tweet-box .frame:before,
.cp-tweet-box .cp-text-box a.btn-link:hover,
.cp-award-section .cp-award-box .icon-box .inner-box,
.attorney-details-social ul li a:hover,
.education-row .cp-box strong.year,
.cp-progress-box .progress-bar,
.navbar-inverse .navbar-toggle,
.cp-welcome .cp-box:hover .icon-box:before,
.cp-welcome .cp-box:hover .icon-box:after,
.cp-theme-style-1 .cp-practice-area .cp-box .cp-text-box a.btn-style-1:hover,
.cp-theme-style-1 .cp-practice-area .cp-box .cp-text-box a.btn-style-1:before {
    background-color: #ffbb00;
}

.cp-head-topbar .left-box ul li a:hover,
.cp-head-topbar .right-box ul li a:hover,
#nav li:hover>a,
#nav li.active a,
.cp-choose-lawyers .cp-text-box .detail-box:hover h3,
.cp-facts-section .cp-box strong.title,
.cp-news-section .left-box .cp-box:hover h3,
.cp-news-section .left-box .cp-box:hover a.detail-text,
.cp-footer-content .cp-box address li a:hover,
.cp-copyright-section strong.copy a:hover,
.cp_side-menu a:hover,
.burger-top-box ul li a:hover,
.cp_side-navigation li a:hover,
.cp_side-navigation li a:focus,
.cp_side-navigation .navbar-nav>li.active>a,
.cp-burger-nav form button,
.search-box a#searchtoggl:hover,
.cp-error-page strong.title,
.cp-contact-style-1 .right-box address ul li a:hover,
.cp-register .holder strong.title a,
.detail-row ul li a:hover,
.cp-blog .cp-post-box .cp-text-box h3 a:hover,
.cp-recent-post a:hover,
.cp-award-section .cp-award-box:hover h3 a,
.cp-latest-tweets .fa,
.cp-latest-tweets a.tw,
.cp-latest-tweets p a.link,
.cp-tweet-box .cp-text-box h3 a:hover,
.attorney-details .cp-text-box address li a:hover,
.cp-bar-addmissions ul li a:hover,
.honors-box .icon-box,
.cp-attorneys-style-1:hover h3,
.cp-practice-area .cp-box:hover h3,
.cp-welcome .cp-box:hover h3 {
    color: #ffbb00;
}

.cp-theme-style-1 h2,
.honors-box .icon-box,
.honors-box .icon-box:before,
.cp-welcome .cp-box:hover .icon-box {
    border-color: #ffbb00;
}

.testimonials-style-2 .cp-box .frame:before {
    border-color: transparent transparent transparent #ffbb00;
}

.cp-head-topbar .right-box a.btn-consultation,
.cp-theme-style-1 a.btn-style-1,
.cp-consultation form input[type="submit"],
.cp-contact-style-1 .left-box input[type="submit"],
.cp-login .holder input[type="submit"],
.cp-author-box form input[type="submit"],
.cp-theme-style-1 .cp-tweet-box .cp-text-box a.btn-style-1:before {
    background-color: #ffbb00;
}