.icon-48-offersimages {
      background-image: url(../images/l_offersimages.png);
      padding-left:60px!important;
}

.icon-48-offersimage {
      background-image: url(../images/l_offersimages.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}